# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Files die nicht von mir sind
blink.c
button_bspl.c
buttons.c
gpio_jtag.c
hello.c
rgb.c
startup_main.c
startup_systick.c
uartstdio.c

